/* general styles */

html
	{
		height:100%;
		
	}
body
	{
		background:#000 url(img/background_fon1.png) scroll 50% 0 no-repeat;
		font-family:Verdana, Arial,  sans-serif;
		color:#fff;
		font-size:14px;
		
	}
p
	{
		font-size:14px;
		line-height:1.5;
		
	}
a	{
		text-decoration:none;
		outline:none;
		font-size:14px;
		color:#FFB90F;
		
	}
a:hover	{
		text-decoration:none;
		outline:none;
		color:#FFB90F;
	
		
	}	
code
	{
		font-family:"Courier New", Courier, monospace;
		color:#000;
	}	
blockquote
	{
		font-style:italic;
		background:#ccc;
		margin-left:20px;
	}
@font-face 
	{
			
			font-family: 'academy-webfont';
			src: url('fonts/academy-webfont.eot');
			src: url('fonts/academy-webfont.eot?#iefix') format('embedded-opentype'),
				url('fonts/academy-webfont.woff') format('woff'),
				url('fonts/academy-webfont.ttf') format('truetype'), 
				url('fonts/academy-webfont.svg#academy-webfont') format('svg');
				font-weight:normal;
				font-style:normal;
		
	}
@font-face
	{
		font-family: 'fine_again-webfont';
			src: url('fonts/fine_again-webfont.eot');
			src: url('fonts/fine_again-webfont.eot?#iefix') format('embedded-opentype'),
				url('fonts/fine_again-webfont.woff') format('woff'),
				url('fonts/fine_again-webfont.ttf') format('truetype'), 
				url('fonts/fine_again-webfont.svg#fine_again-webfont') format('svg');
				font-weight:normal;
				font-style:normal;
		
	}	
#container
	{
		width:1100px;
		/* background:#EDEDED; */
		margin:25px auto;
				
	
		
	}	
/* end of general styles	 */

/* header */
#before_header
	{
		background: url(img/before_header.png);
		height:60px;
	}
#search
	{
		float:right;
		margin-top:14px;
		
		vertical-align:top;
	
		
	}	
.search_text
	{
		background:#DAA640 url(img/search.png) no-repeat 2px 7px;
		border:2px solid #68421E;		
		padding:0px 0px 0px 18px;
		font-family:'academy-webfont', Verdana, sans-serif;
		font-size:14px;	
		height:30px;
		float:left;
		color:#000;
		margin-right:0;
		
	}
.search_text::-webkit-input-placeholder { color: 	#8B4513; }	
.search_text::-moz-placeholder { color: 	#8B4513; }
.search_text:focus
	{
		outline:none;
	}	
.go
	{
		margin-left:0px;
        border:2px solid  #68421E;
        background:#710703;
        font-family:'academy-webfont', Verdana, sans-serif;
		font-size:14px;	
        color:#DAA640;
       	/* width:50px; */
		height:34px;
		cursor:pointer;
		float:left;
		
	}	
.go:hover
	{
		background:#B22222;
		color:#DAA520;
	}	
#header
	{
		background:#000 url(img/header_fon.png) no-repeat;
		min-height:151px;
		margin-top:25px;
		
		
		
	}
#logo
	{
		float:left;
	
		
	}
#header_menu
	{
		margin-left:135px;
		
		
		
		
	}
#header_menu a
	{
		font-size:22px;
		font-weight:bold;
		color:#000;
		-moz-transition: all 750ms ease 0s;
        -webkit-transition: all 750ms ease 0s;
        -o-transition: all 750ms ease 0s;
		transition: all 750ms ease 0s;
	}	
#header_menu ul
	{
		margin:0px 0 0 125px;
	}	
#header_menu ul li
	{
		float:left;
		margin:32px 25px 0 25px;
		padding:0 25px 0 25px;
	
		
		
	}	
#main
	{
	
		width:80px;
		display:block;
		text-decoration:none;
		background:url(img/menu_lamp_after.png) no-repeat top;
		padding:90px 0 0 0;
		text-align:center;
			
	}	
.header_hover:hover
	{
		box-shadow: 5px 5px 50px rgba(255 ,255, 224  ,0.6);
	}	
#works
	{
	
		width:80px;
		display:block;
		text-decoration:none;
		background:url(img/menu_pc_after.png) no-repeat top;
		padding:90px 0 0 0;
		text-align:center;
		
	}	
#about
	{
		
		width:80px;
		display:block;
		text-decoration:none;
		background:url(img/menu_mail_after.png) no-repeat top;
		padding:90px 0 0 0;
		text-align:center;
	}	
#contact
	{
		
		width:80px;
		display:block;
		text-decoration:none;
		background:url(img/menu_wrench_after.png) no-repeat top;
		padding:90px 0 0 0;
		text-align:center;
	}
.menu_pos
	{
		
	}	
#info
	{
		clear:both;
		
	}	
/* end of header */

#info 
	{
		font-family:'academy-webfont', Verdana, sans-serif;
		margin:20px 0;
		color:#fff;
		
	}
#info h1
	{
		font-size:38px;
		padding:15px 0;
		color:#ECB737 ;
	}
#info h3
	{
		font-size:19px;
		color:#ECB737 ;
		padding:15px 0;
	}	

/* skills menu	 */
#gear_top
	{
		position:relative;
		top:-35px;
		-webkit-animation: rotate-left 120s 0s normal none linear infinite; 
		-moz-animation: rotate-left 120s 0s normal none linear infinite;
		-o-animation: rotate-left 120s 0s normal none linear infinite;
		animation: rotate-left 120s 0s normal none linear infinite; 
		
		
	}
#gear_middle
	{
		position:relative;
		top:56px;
		left:-54px;
		-webkit-animation: rotate 120s  0s normal none linear infinite; 
		-moz-animation: rotate 120s 0s normal none linear infinite;
		-o-animation: rotate 120s 0s normal none linear infinite;
		animation: rotate 120s 0s normal none linear infinite;  
	}	
#gear_bot
	{
		position:relative;
		top:20px;
		left:-87px;
		-webkit-animation: rotate-left 120s 0s normal none linear infinite; 
		-moz-animation: rotate-left 120s 0s normal none linear infinite;
		-o-animation: rotate-left 120s 0s normal none linear infinite;
		animation: rotate-left 120s 0s normal none linear infinite; 
	}	
#gears_left
	{
		
		margin-top:15px;
		
		width:650px;
		float:left;
		margin-bottom:191px;
		position:relative;
		
	}	
.invis
	{
		opacity:0;
		width:100%;
		height:230px;
		position:absolute;
		left:0;
	}	
.skills_font
	{
		font-size:22px;
		font-weight:bold;
		text-transform:uppercase;
		text-shadow:1px 1px 10px  #696969;
		
		color:#A06D12;
		opacity:0.4;
		-webkit-animation:fading 10s linear 0s normal none infinite ;
		-moz-animation:fading 10s linear 0s normal none infinite ;
		-o-animation:fading 10s linear 0s normal none infinite ;
		animation:fading 10s linear 0s normal none infinite ;
	}
#skills
	{
		position:relative;
	}	
#html
	{
		position:relative;
		top:-20px;
		left:-375px;
		
	}
#css
	{
		position:relative;
		top:-95px;
		left:-418px;
		
	}	
#js
	{
		position:relative;
		top:-39px;
		left:-300px;
		
	}
@-webkit-keyframes fading 
	{	 
		0% { opacity: 0.4; }
        50% { opacity: 1; text-shadow: 0 0 5px rgba(255,255,255,0.3); }
        100% { opacity: 0.4; }
	}	
@-moz-keyframes fading 
	{	 
		0% { opacity: 0.4; }
        50% { opacity: 1; text-shadow: 0 0 5px rgba(255,255,255,0.3); }
        100% { opacity: 0.4; }
	}	
@-o-keyframes fading 
	{	 
		0% { opacity: 0.4; }
        50% { opacity: 1; text-shadow: 0 0 5px rgba(255,255,255,0.3); }
        100% { opacity: 0.4; }
	}		
@keyframes fading 
	{	 
		0% { opacity: 0.4; }
        50% { opacity: 1; text-shadow: 0 0 5px rgba(255,255,255,0.3); }
        100% { opacity: 0.4; }
	}		
#mid_skills
	{
		margin-top:100px;
		clear:both;
		
		
		
	}
#mid_skills h1
	{
		
	}	
#mid_skills h1 span
	{
		
		background: -webkit-linear-gradient(bottom, #000000, #363012);
		background: -o-linear-gradient(bottom, #000000, #363012); 
		background: -ms-linear-gradient(bottom, #000000, #363012); 
		background: -moz-linear-gradient( bottom, #000000, #363012); 
		background: linear-gradient(bottom, #000000, #363012); 
		font-family:'academy-webfont', Verdana, sans-serif;
		font-size:26px;
		color:#ECB737;
		padding:3px;
		box-shadow:4px 4px 5px rgba(139 ,90, 43, 0.8 );
		
	}	
	
	
#top_skills
	{
		position:relative;
		
				
	}	
#top_skills span
	{
     	position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		opacity:0;
		
	}	
#top_skills p
	{
		text-align:center;
	}	
#top_skills h1
	{
		font-family:'academy-webfont', Verdana, sans-serif;
		text-align:center;
		font-size:42px;
		text-transform:uppercase;
		font-weight:bold;
		color:#DFA63D;
		position:absolute;
		top:48px;
		left:430px;
		text-shadow:4px 4px 0 rgba(0 ,0, 0,  0.8 );
		
		
		
	}
.post
	{
		font-family:'academy-webfont', Verdana, sans-serif;
		margin-bottom:65px;
		margin-top:25px;
		width:800px;
		float:left;
		background:#000000;
		
	
		
	}	
.post h1
	{
		margin-bottom:35px;
	}	
	
	
.post_entry
	{
		
		margin-top:10px;
		width:800px;
			
		
	}	
.post_name h1
	{
		margin-bottom:9px;
	}
.post_top
	{
		margin-bottom:20px;
	}
.post_name h1 a
	{
		font-family:'academy-webfont', Verdana, sans-serif;
		font-size:22px;
		color:#DFA63D;
		margin-bottom:10px;
		
	}
.category a  span
	{
		font-style:italic;
		padding-right:15px;
		border-right:2px solid #6E2505;
	}
.date
	{
		padding-left:15px;
	}	
.date  span
	{
		font-style:italic;
		
	}	


.post_content
	{
		
		
	}	
	
.post_content img
	{
		float:left;
		margin-right:10px;
		
	}
.post_content p
	{
		font-size:16px;
		overflow:hidden;
		text-align:justify;
		padding-bottom:10px;
		border-bottom:2px solid #68421E;
		margin-bottom:25px;
		
		
	}	
.read_more
	{
		border:1px solid #5B2606;
		background:#302A10;
		padding:4px;
		font-size:17px;
		
		border-color:#E8C03A;
		border-width:2px;
		float:right;
		margin-right:15px;
		
	}
.post_bot
	{
		margin:20px 0 20px 160px;
		
	}
.author
	{
		padding-right:15px;
		border-right:2px solid #6E2505;
		
	}	
.comment
	{
		padding-left:15px;
	}	
.author span, .comment span
	{
		font-style:italic;
	}	
	
/* rotate ckw	 */
@-webkit-keyframes rotate {  
  0% { -webkit-transform: rotate(0deg) }

  100% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes rotate {  
  0% { -moz-transform: rotate(0deg)  }

  100% { -moz-transform: rotate(360deg)  }
}

@-o-keyframes rotate {  
  0% { -o-transform: rotate(0deg)  }

  100% { -o-transform: rotate(360deg)  }
}

@keyframes rotate {  
  0% { transform: rotate(0deg)  }

  100% { transform: rotate(360deg)  }
} 	
/* end of rotate ckw */

/* rotate ackw */
@-webkit-keyframes rotate-left {  
  0% { -webkit-transform: rotate(360deg)  }

  100% { -webkit-transform: rotate(0deg)  }
}

@-moz-keyframes rotate-left {  
  0% { -moz-transform: rotate(360deg)  }

  100% { -moz-transform: rotate(0deg)  }
}

@-o-keyframes rotate-left {  
  0% { -o-transform: rotate(360deg)  }

  100% { -o-transform: rotate(0deg)  }
}

@keyframes rotate-left {  
  0% { transform: rotate(360deg)  }

  100% { transform: rotate(0deg)  }
} 	
/* end of rotate of ackw */
#aside
	{
		/* height:500px; */
		width:250px;
		float:right;
		margin-top:25px;
		border:2px double #BB5C22;
		height:300px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		border-radius:5px;
	}
#aside ul
	{
		margin:20px auto;
		/* padding:0px 25px 25px 25px; */
		list-style:inside;
		list-style-type:none; 
		width:200px;
		
        
	}
#aside ul li
	{
		background:none repeat scroll 0 0 #302A10;
		width:5px;
		height:30px;
		margin-bottom:10px;
		-webkit-animation:shrink 0.5s ease-in-out 0s;
		-moz-animation:shrink 0.5s ease-in-out 0s;
		-o-animation:shrink 0.5s ease-in-out 0s;
		animation:shrink 0.5s ease-in-out 0s;
		
		
    }
#aside ul li:hover
	{
		width:180px;
		padding-left:20px;
		-webkit-animation:expand 0.5s ease-in-out 0s;
		-moz-animation:expand 0.5s ease-in-out 0s;
		-o-animation:expand 0.5s ease-in-out 0s;
		animation:expand 0.5s ease-in-out 0s;
	}	
@-webkit-keyframes shrink
	{
		0% {
			padding-left:20px;
			width:180px
		}
		100% {
			padding-left:0px;
			width:5px;
		}
	}
@-moz-keyframes shrink
	{
		0% {
			padding-left:20px;
			width:180px
		}
		100% {
			padding-left:0px;
			width:5px;
		}
	}
@-o-keyframes shrink
	{
		0% {
			padding-left:20px;
			width:180px
		}
		100% {
			padding-left:0px;
			width:5px;
		}
	}	
@keyframes shrink
	{
		0% {
			padding-left:20px;
			width:180px
		}
		100% {
			padding-left:0px;
			width:5px;
		}
	}	
	
@-webkit-keyframes expand
	{
		0% {
			padding-left:0px;
			width:5px
		}
		100% {
			padding-left:20px;
			width:180px;
		}
	}	
@-moz-keyframes expand
	{
		0% {
			padding-left:0px;
			width:5px
		}
		100% {
			padding-left:20px;
			width:180px;
		}
	}	
@-o-keyframes expand
	{
		0% {
			padding-left:0px;
			width:5px
		}
		100% {
			padding-left:20px;
			width:180px;
		}
	}		
@keyframes expand
	{
		0% {
			padding-left:0px;
			width:5px
		}
		100% {
			padding-left:20px;
			width:180px;
		}
	}	
.marker
	{
		position:relative;
		top:6px;
		right:3px;
	}	
#aside ul li a
	{
		position:absolute;
		font-family:"fine_again-webfont", georgia, serif;
		font-size:22px;
		padding:5px 0px 5px 20px;
		width:150px;
		
	}	
#aside ul li a:hover
	{
		font-family:"fine_again-webfont", georgia, serif;
		font-size:22px;
		color:#BB5C22;
			
				
	}	

	
		
	
#miracle
	{
		width:250px;
		height:100px;
		float:right;
	}	
	
#footer
	{
		background:url(img/footer.png);
		font-family:"fine_again-webfont", georgia, serif;
		font-size:22px;
		
		height:100px;
		/* color:#68421E; */
		color:#A41602;
		text-shadow:2px 2px 0px rgba(255,185,15, 0.8 );
		position:relative;
		clear:both;
	}
.design
	{
		position:absolute;
		top:16px;
		left:230px;		
	}	
.coding
	{
		position:absolute;
		top:65px;
		left:340px;
	}	
	
/* slider builduing */
#content_slider
	{
		float:right;
		
		position:relative;
		z-index:1;
	}
#slider
	{
        background:url(slider_img/background.png);
        width:354px;
        height:266px;
        /* margin:40px auto; */
        position:absolute;
		left:43px;
		top:87px;
		/* display:block-inline; */
		
    }
#mask
{
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
}
.clickers
	{
        position:absolute;
        top:102px;
        cursor:pointer;
	}
	
#left_cl
	{
        left:-29px;
    }
#right_cl
	{
        right: -29px;
    }
#image_container
	{
        position:absolute;
        width:300%;
        height:100%;
		-webkit-transition-property:all;
		-webkit-transition-duration:1s;
		 -o-transition-property:all;
		 -o-transition-duration:1s;
		 -moz-transition-property:all;
		-moz-transition-duration:1s;
		 transition-property:all;
		 transition-duration:1s;

     }
      
     
.image1 #image_container
	{
        left:0;
     }
.image2 #image_container
	{	
        left:-100%;
     }
.image3 #image_container
	{
        left:-200%;
    }

      
     
#image_container li
	{
        float:left;
    }
      
     
      
    
#dots
	{
        position:absolute;
        width:130px;
        height:15px;
        left:150px;
        bottom:-20px;
    }
      
    
#dots li
	{
        float:left;
        margin: 0px 2px;
        width:12px;
        height:12px;
        background: url(slider_img/empty-dot1.png);
        cursor:pointer;
    }
     
#dots li:hover
	{
        background: url(slider_img/selected-dot1.png);
    }
      
    
.image1 #dots li.button1, .image2 #dots li.button2, .image3 #dots li.button3, .image4 #dots li.button4
	{
        background: url(slider_img/selected-dot1.png);
       
    }

    
#glass
	{
        position:absolute;
        top:0px;
        left:0px;
    }
#feedback_content
	{
		clear:both;
		
	}	
#feedback
	{
		float:left;
		height:100px;
		margin-bottom:25px;
		
	}	
#feedback p
	{
		font-family:'academy-webfont', Verdana, sans-serif;
		font-size:18px;
		color:#DF7C1B;
		width:500px;
		
	}  
#feedback_form
	{
		/* float:right; */
		
		background:#000;
		
	
		
	}
	
.feedback_name input
	{
		background:#000 url(img/name.png) no-repeat 0px;
		font-family:'academy-webfont', Verdana, sans-serif;
		font-size:16px;
		color:#DF7C1B;
		padding:2px 0 2px 25px;
		border:1px dashed #68421E;
		margin-bottom:10px;
		position:relative;
		top:0;
		
		
	}	
.feedback_mail input
	{
		background:#000 url(img/email.png) no-repeat 0px;
		font-family:'academy-webfont', Verdana, sans-serif;
		font-size:16px;
		color:#DF7C1B;
		padding:2px 0 2px 25px;
		border:1px dashed #68421E;
		margin-bottom:10px;
	}	
	
.feedback_name input::-webkit-input-placeholder, .feedback_mail input::-webkit-input-placeholder, .feedback_message textarea::-webkit-input-placeholder
 { color: 	#CD950C; }	
.feedback_name input::-moz-placeholder, .feedback_mail input::-moz-placeholder, .feedback_message textarea::-moz-placeholder { color: 	#CD950C; }	
#form_left
	{
		/* width:50%; */
		float:left;
		margin-left:75px;
		margin-right:15px;
		
		
	}	
.feedback_message
	{
		
		float:left;
		/* margin-left:20px; */
		position:relative;
		
		
		
	}	
.feedback_message textarea
	{
		font-family:'academy-webfont', Verdana, sans-serif;
		font-size:16px;
		color:#DF7C1B;
		background:#000;
		resize:both;
		height:70px;
		min-width:100px;
		min-height:50px;
		max-height: 240px;
		max-width: 270px;
		border:1px dashed #68421E;
		padding:5px;
		
		
	}	
.feedback_submit
	{
		clear:both;
		
		/* margin-left:80px; */
		
	}	
.feedback_submit input
	{
		font-family:'academy-webfont', Verdana, sans-serif;
		font-size:16px;
		color:#FFB90F;
		background: rgb(113, 7, 3) ;
		border:1px solid #68421E;
		cursor:pointer;
		
	}	
.feedback_submit input:hover
	{
		-webkit-animation:bounce 300ms ease 0s;
		-moz-animation: bounce 300ms ease 0s;
		-o-animation: bounce 300ms ease 0s;
		animation: bounce 300ms ease 0s;
	}	
@-moz-keyframes bounce 
   {
        0%, 100% {-moz-transform: translateY(0);}
        30%	{ -moz-transform: translateY(3px);}
        60% { -moz-transform: translateY(-30px); }
    }

@-webkit-keyframes bounce 
    {
        0%, 100% { -webkit-transform: translateY(0); }
        30% { -webkit-transform: translateY(3px); }
        60% { -webkit-transform: translateY(-3px); }
    }
@-o-keyframes bounce 
	{
        0%, 100% { -o-transform: translateY(0); }
        30% { -o-transform: translateY(3px); }
        60% { -o-transform: translateY(-3px); }
    }

@keyframes bounce 
	{
        0%, 100% { transform: translateY(0); }
        30% { transform: translateY(3px); }
        60% { transform: translateY(-3px); }
    }
.feedback_name input:focus, .feedback_mail input:focus, .feedback_message textarea:focus
	{
		border:1px solid #ECB737;
		-moz-transition: all 350ms ease 0s;
        -webkit-transition: all 350ms ease 0s;
        -o-transition: all 350ms ease 0s;
        transition: all 350ms ease 0s;
		outline:none;
		
		
	}	
/* .feedback_name input, .feedback_mail input, .feedback_message textarea
	{
		-moz-transition: all 350ms ease 0s;
        -webkit-transition: all 350ms ease 0s;
        -o-transition: all 350ms ease 0s;
		transition: all 350ms ease 0s;
		
	}	 */
.feedback_name input, .feedback_mail input, .feedback_message textarea
	{
		background-position:0 -2px;
		
	}
.feedback_name input:focus, .feedback_mail input:focus, .feedback_message textarea:focus
	{
		background-position:0 -30px;
		
		
	}	
#nav
	{
		position:fixed;
		top:50%;
		margin-top:-32px;
		width:46px;
		height:65px;
	
	}	
#top
	{
		background:transparent;
		position:absolute;
		width:46px;
		height:29px;
		/* top:50%;
		left:0; */
	}	
#bot
	{
		background:transparent;
		position:absolute;
		bottom:0;
		width:46px;
		height:29px;
		/* top:55%;
		left:0; */
	}	
#top:hover
	{
		cursor:pointer;
		opacity:0.8;
	}
#bot:hover
	{
		cursor:pointer;
		opacity:0.8;
	}
#music
	{
		width:285px;
		height:60px;
		float:left;
		background:url(img/music.png);
		
	}	
	
/* STYLES FOR IE8	====================== */
.ie8 #music
	{
		display:none;
	}
.ie8 textarea
	{
		overflow:auto;
	}

.ie8 .search_text
	{
		background-position:2px 4px;
		height:auto;
		padding:8px 5px 5px 20px;
	}	
.ie8 .go
	{
		height:auto;
		padding:8px 8px 5px 8px;
	}	
	




















		
	
	
		